<footer class="footer">
    <div class="wrap">
        <p class="footer__text">Made with <i class="fas fa-heart" aria-hidden="true"></i> in Vietnam.</p>

        <div class="footer__copyright">
            <span>© 2019</span>
            <a href="/">Mia Farah</a>
        </div>

        <ul class="socials">
            <li class="socials__item">
                <a href="https://www.facebook.com/miafarah.vn" target="_blank" class="socials__item__link"
                    title="Facebook">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                </a>
            </li>

            <li class="socials__item">
                <a href="https://instagram.com/miafarah.vn" target="_blank" class="socials__item__link"
                    title="Instagram">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
