/* Masonry grid */
.masonry {
  transition: all .5s ease-in-out;
  column-gap: 10px;
  column-fill: initial;
}

/* Masonry item */
.masonry .brick {
  margin-bottom: 10px;
  display: inline-block; /* Fix the misalignment of items */
  vertical-align: top; /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {
  transition: all .5s ease-in-out;
  backface-visibility: hidden; /* Remove Image flickering on hover */
}

.masonry .brick:hover img {
  opacity: .75;
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 2;
  }
}

/**
 * RESET
 * Reference: http://meyerweb.com/eric/tools/css/reset/
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 main, menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }

 article, aside, details, figcaption, figure,
 footer, header, hgroup, main, menu, nav, section {
   display: block;
 }

 body {
   line-height: 1.618;
   font-family: Arial, Helvetica, sans-serif;
 }

 ol, ul {
   list-style: none;
 }

 blockquote, q {
   quotes: none;
 }

 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }

 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

 a {
   text-decoration: none;
 }

 code, pre, samp {
 font-family: monospace;
 }

 /**
  * BASIC TYPE
  */

 img, video {
   max-width: 100%;
   vertical-align: middle;
 }

 p {
   margin: 0 0 1em;
 }

 h1, h2, h3, h4 {
   margin: .5em 0 .75em;
   line-height: 1.3;
 }

 h1 {
   font-size: 1.5em;
 }

 h2 {
   font-size: 1.25em;
 }

 h3 {
   font-size: 1.125em;
 }

 h4 {
   font-size: 1em;
 }

 a,
 abbr,
 address,
 applet,
 article,
 aside,
 audio,
 b,
 blockquote,
 body,
 canvas,
 caption,
 cite,
 code,
 dd,
 del,
 details,
 dfn,
 div,
 dl,
 dt,
 em,
 fieldset,
 figcaption,
 figure,
 footer,
 form,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 header,
 hgroup,
 hr,
 html,
 i,
 iframe,
 img,
 ins,
 kbd,
 label,
 legend,
 li,
 mark,
 menu,
 nav,
 object,
 ol,
 p,
 pre,
 q,
 s,
 samp,
 section,
 small,
 span,
 strong,
 sub,
 summary,
 sup,
 table,
 tbody,
 td,
 tfoot,
 th,
 thead,
 time,
 tr,
 tt,
 u,
 ul,
 var,
 video {
   margin: 0;
   padding: 0;
 }
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
   display: block;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-size: 100%;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 b,
 mark,
 strong {
   font-weight: 700;
   font-style: inherit;
 }
 address,
 cite,
 dfn,
 em,
 i,
 q,
 var {
   font-style: italic;
   font-weight: inherit;
 }
 abbr[title],
 dfn[title] {
   cursor: help;
   border-bottom: 1px dotted;
 }
 ins {
   border-bottom: 1px solid;
 }
 a,
 ins,
 u {
   text-decoration: none;
 }
 del,
 s {
   text-decoration: line-through;
 }
 code,
 kbd,
 pre,
 samp {
   font-family: monospace;
 }
 small {
   font-size: 0.75em;
 }
 img {
   border: 0;
   font-style: italic;
 }
 input,
 optgroup,
 option,
 select,
 textarea {
   font: inherit;
 }
 * {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 nav,
 section {
   display: block;
 }
 audio[controls],
 canvas,
 video {
   display: inline-block;
 }
 html {
   font-size: 100%;
   -webkit-overflow-scrolling: touch;
   -webkit-tap-highlight-color: transparent;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
 }
 body {
   margin: 0;
   text-rendering: optimizeLegibility;
 }
 img {
   border: 0;
   -ms-interpolation-mode: bicubic;
   display: block;
 }
 embed,
 img,
 object {
   max-width: 100%;
   height: auto;
 }
 input {
   -webkit-appearance: none;
 }
 footer,
 header,
 section {
   position: relative;
   float: left;
   clear: both;
   width: 100%;
 }


 body,
 html {
   height: 100%;
 }
 body {
   background: #fff;
   font-family: Muli, sans-serif;
   font-weight: 400;
   font-style: normal;
   line-height: 1;
   color: #6c7a89;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: Muli, sans-serif;
   color: #2a2f36;
 }
 h1:first-child,
 h2:first-child,
 h3:first-child,
 h4:first-child,
 h5:first-child,
 h6:first-child {
   margin-top: 0;
 }
 .h1,
 h1 {
   font-size: 25px;
   font-weight: 700;
   line-height: 1.2;
   letter-spacing: -0.02em;
 }
 @media only screen and (min-width: 768px) {
   .h1,
   h1 {
     font-size: 35px;
   }
 }
 @media only screen and (min-width: 1220px) {
   .h1,
   h1 {
     font-size: 45px;
   }
 }
 .h2,
 h2 {
   margin-top: 40px;
   font-size: 22px;
   font-weight: 700;
   line-height: 1.2;
   letter-spacing: -0.02em;
 }
 @media only screen and (min-width: 768px) {
   .h2,
   h2 {
     font-size: 30px;
   }
 }
 @media only screen and (min-width: 1220px) {
   .h2,
   h2 {
     font-size: 35px;
   }
 }
 ol,
 p,
 ul {
   margin-top: 15px;
   font-size: 15px;
   font-weight: 400;
   line-height: 1.6;
   letter-spacing: 0;
 }
 @media only screen and (min-width: 768px) {
   ol,
   p,
   ul {
     font-size: 17px;
   }
 }
 @media only screen and (min-width: 1220px) {
   ol,
   p,
   ul {
     font-size: 19px;
   }
 }
 ol strong,
 p strong,
 ul strong {
   font-weight: 600;
 }
 ol:first-child,
 p:first-child,
 ul:first-child {
   margin-top: 0;
 }
 ol,
 ul {
   list-style-position: inside;
 }

 a {
   text-decoration: none;
   color: #2a2f36;
   font-weight: 600;
   -webkit-transition: all 0.15s ease-in-out;
   -moz-transition: all 0.15s ease-in-out;
   -ms-transition: all 0.15s ease-in-out;
   -o-transition: all 0.15s ease-in-out;
   transition: all 0.15s ease-in-out;
 }
 a:hover {
   color: #f2784b;
 }


.page,
.page__content {
  float: left;
  clear: both;
  width: 100%;
}
section {
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  section {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  section {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1220px) {
  section {
    margin-top: 80px;
  }
}
.wrap {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 500px;
}
@media only screen and (min-width: 768px) {
  .wrap {
    padding: 0;
    max-width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  .wrap {
    max-width: 65%;
  }
}
@media only screen and (min-width: 1220px) {
  .wrap {
    max-width: 60%;
  }
}

 .header {
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .header {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1220px) {
  .header {
    margin-top: 60px;
  }
}
.header__logo {
  display: block;
  width: 200px;
  max-width: 80%;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    float: left;
    max-width: 50%;
  }
}
.header__logo__img {
  width: 100%;
  height: auto;
}
.header__title {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1;
  color: #2a2f36;
}
.header__title:hover {
  color: #f2784b;
}
@media only screen and (min-width: 768px) {
  .header__title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1220px) {
  .header__title {
    font-size: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .menu {
    position: absolute;
    top: 50%;
    right: 20px;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}
.menu__toggle {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 30px;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
  color: #2a2f36;
}
@media only screen and (min-width: 768px) {
  .menu__toggle {
    right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .menu__toggle {
    display: none;
  }
}
.menu__toggle__icon {
  float: right;
  position: relative;
  width: 24px;
  height: 20px;
  margin-left: 8px;
}
.menu__toggle__icon span,
.menu__toggle__icon span:after,
.menu__toggle__icon span:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  background: #2a2f36;
}
.menu__toggle__icon span:before {
  top: -8px;
}
.menu__toggle__icon span:after {
  top: 8px;
}
.menu--open .menu__toggle__icon span:after,
.menu--open .menu__toggle__icon span:before {
  background: #fff !important;
}
.menu--open .menu__toggle__icon span {
  background-color: transparent !important;
}
.menu--open .menu__toggle__icon span:after,
.menu--open .menu__toggle__icon span:before {
  top: 0;
}
.menu--open .menu__toggle__icon span:before {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu--open .menu__toggle__icon span:after {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu__wrap {
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(242, 120, 75, 0.95);
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  .menu__wrap {
    position: relative;
    background: 0 0;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.menu--open .menu__wrap {
  visibility: visible;
  opacity: 1;
}
.menu__list {
  list-style: none;
  margin: 0 auto;
  padding: 30px;
}
@media only screen and (min-width: 768px) {
  .menu__list {
    padding: 40px 0 0;
    max-width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  .menu__list {
    max-width: none;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .menu__list__item {
    display: inline-block;
    margin-left: 20px;
  }
  .menu__list__item:first-child {
    margin-left: 0;
  }
}
.menu__list__item__link {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  padding: 10px 0;
}
.menu__list__item__link:hover {
  color: #2a2f36;
}
@media only screen and (min-width: 1024px) {
  .menu__list__item__link {
    padding: 0 0 3px;
    font-size: 15px;
    color: #2a2f36;
    border-bottom: 2px solid transparent;
  }
  .menu__list__item__link:hover {
    color: #FFD300;
  }
}
@media only screen and (min-width: 1220px) {
  .menu__list__item__link {
    font-size: 17px;
  }
}
.menu__list__item__link.active-link {
  color: #2a2f36;
}
@media only screen and (min-width: 1024px) {
  .menu__list__item__link.active-link {
    color: #2a2f36;
    border-color: #FFD300;
  }
}
.menu__button {
  margin-top: 15px;
  padding: 15px 20px 16px;
  font-size: 13px;
}
@media only screen and (min-width: 1024px) {
  .menu__button {
    margin-top: 0;
    padding: 11px 20px 12px;
    font-size: 15px;
  }
}
.buttons--circular .menu__button {
  border-radius: 24px;
}
@media only screen and (min-width: 1024px) {
  .buttons--circular .menu__button {
    border-radius: 21px;
  }
}
.footer {
  -webkit-transition: all 0.4s ease-in-out 0.8s;
  -moz-transition: all 0.4s ease-in-out 0.8s;
  -ms-transition: all 0.4s ease-in-out 0.8s;
  -o-transition: all 0.4s ease-in-out 0.8s;
  transition: all 0.4s ease-in-out 0.8s;
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 1220px) {
  .footer {
    padding: 80px 0;
  }
}
.footer__logo {
  display: block;
  width: 200px;
}
.footer__title {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1;
  color: #6c7a89;
}
.footer__title:hover {
  color: #2a2f36;
}
@media only screen and (min-width: 768px) {
  .footer__title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1220px) {
  .footer__title {
    font-size: 35px;
  }
}
.footer__text {
  color: #abb7b7;
}
.footer__copyright {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #abb7b7;
}
.footer__copyright a {
  margin-left: 10px;
  color: #abb7b7;
  font-weight: 400;
}
.footer__copyright a:hover {
  color: #6c7a89;
}
.footer__copyright span {
  margin-top: 10px;
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .footer__copyright span {
    margin-top: 0;
  }
}
.footer .socials {
  margin-top: 25px;
}
@media only screen and (min-width: 1220px) {
  .footer .socials {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) {
  .intro h1 {
    white-space: pre-line;
  }
}
@media only screen and (min-width: 768px) {
  .content-wrap {
    max-width: 90%;
    margin: 0 auto;
  }
}
.socials {
  list-style: none;
  margin: 0;
  padding: 0;
}
.socials__item {
  display: inline-block;
  margin-left: 2px;
}
.socials__item:first-child {
  margin-left: 0;
}
.socials__item__link {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #abb7b7;
  font-size: 17px;
  line-height: 1;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .socials__item__link {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
.socials__item__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -52%);
  -o-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  -webkit-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
}
.socials__item__link:hover {
  background: #FFD300;
  color: #fff;
}
.portfolio {
  padding: 0 5px;
}
.portfolio-item {
  position: relative;
  padding: 5px;
  float: left;
  width: 50%;
}
.portfolio-item__link {
  position: relative;
  display: block;
}
@media only screen and (min-width: 1024px) {
  .portfolio-item__link:hover .portfolio-item__content {
    opacity: 0.9;
    visibility: visible;
  }
}
.portfolio-item__image {
  width: 100%;
}
.portfolio-item__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 211, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.portfolio-item__info {
  text-align: center;
}
.portfolio-item__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .portfolio-item__title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1220px) {
  .portfolio-item__title {
    font-size: 35px;
  }
}
.portfolio-item__subtitle {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
}
@media only screen and (min-width: 768px) {
  .portfolio-item__subtitle {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1220px) {
  .portfolio-item__subtitle {
    font-size: 19px;
  }
}