<!DOCTYPE html>

<html class="no-js" lang="en">

{% include head.html %}

<body class="" data-site-url="" data-page-url="/">

	{% include nav.html %}

	<div class="page">

		{{ content }}

	</div>

	{% include footer.html %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Fancybox -->
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<script src="assets/js/main.js"></script>

	<script>
		$('[data-fancybox="gallery"]').fancybox({
			transitionEffect: "slide",
			animationEffect: "zoom",
		});
	</script>
</body>

</html>
