---
layout: default
---

<div class="page__content">

    <section class="intro">
        <div class="wrap">
            <div class="box sale">
                <div class="ribbon"><span>4 ngày</span></div>
                Xả kho SALE lỗ vốn! <span class="sale">Chỉ còn 4 ngày nữa!</span>
            </div>
            <h1>Do all things with love.</h1>
        </div>
    </section>

    <section class="portfolio">
        <div class="content-wrap portfolio-wrap">
            <div class="masonry">
                {% assign image_files = site.static_files | where: "image", true | sort: "modified_time" %}
                {% for img in image_files %}
                <div class="brick">
                    <a data-fancybox="gallery" class="portfolio-item__link" href="{{ img.path }}">
                        <img src="{{ img.path }}" alt="{{ img.basename }}" />
                        <div class="portfolio-item__content">
                            <div class="portfolio-item__info">
                                <h2 class="portfolio-item__title">{{ img.basename | capitalize }}</h2>
                                <p class="portfolio-item__subtitle">
                                    {{ img.modified_time | date_to_long_string: "ordinal" }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</div>
